@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/variables" as v;

.common_table {
    border-radius: 0.375rem;
    background-color: var(--white-color);
    & > ul {
        width: 100%;
    }
}
