.common_input_container {
    padding: 1.25rem 1.5rem;
    background-color: var(--white-color);
    border-radius: 0.75rem;
    min-width: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    box-shadow: var(--common-box-shadow);
    &___error {
        border-color: var(--color-error-base);
    }
}
