.common_input_container {
    padding: 1.25rem 1.5rem;
    background-color: var(--white-color);
    border-radius: 0.75rem;
    min-width: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    box-shadow: var(--common-box-shadow);
    &___bordered {
        padding: 0.875rem 1rem;
        box-shadow: 0 2px 4px -2px #0000000A;
        border: 1px solid var(--stroke-on-white-color);
        &:focus-within {
            border-color: var(--font-dark-color);
        }
        &::placeholder {
            color: var(--font-secondary-color);
        }
    }
    &___error {
        border: 1px solid var(--color-error-base);
    }
}
