@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/typography" as typo;

.current_balance_statistics {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    &__header {
        width: 100%;
    }
    &__chart {
        @include m.box(16.25rem);
    }
    &__footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    &__list {
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }
    &__balance_row {
        &::before {
            background-color: var(--chart-green-color);
        }
    }
    &__reserved_row {
        &::before {
            background-color: var(--chart-gray-color);
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        gap: 1rem;
        & > a {
            flex-grow: 1;
        }
    }
}
