.common_block {
    border-radius: 0.75rem;
    background-color: var(--white-color);
    box-shadow: var(--common-box-shadow);
    padding: 2rem;
    &___large {
        padding: 2rem 2.5rem;
    }
}
