@use "src/shared/styles/typography" as typo;
@use "src/shared/styles/mixins" as m;

.profile_general {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  &__heading {
    @include typo.secondaryHeading;
    margin-bottom: 1.5rem;
  }
  &__personal_form {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-gap: 1.5rem;
  }
  &__full_input {
    grid-column: 1 / -1;
  }
  &__submit {
    min-height: 3.5rem;
  }
  &__password {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    &_text {
      white-space: nowrap;
      position: absolute;
      left: 17.25rem;
      @include m.centerColumnWithPositioning;
      display: flex;
      flex-direction: column;
      color: var(--primary-green-color);
      @include typo.tertiaryText;
    }
  }
}