@use "src/shared/styles/typography" as typo;

.profile_notifications {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  &__heading {
    @include typo.secondaryHeading;
    margin-bottom: 1.5rem;
  }
  &__settings {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  &__submit {
    min-height: 3.5rem;
  }
}