.common_table_row {
    width: 100%;
    padding-inline: 1.5rem;
    background-color: var(--white-color);
    &:not(:last-child) {
        border-bottom: 1px solid var(--stroke-on-white-color);
    }
}
