@use "src/shared/styles/typography" as typo;

.common_table_cell {
    padding-block: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    & > a {
        color: var(--primary-purple-color);
    }
}
