@use "src/shared/styles/typography" as typo;

.identification_passport {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  &__block {
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    grid-gap: 1.5rem;
  }
  &__heading {
    @include typo.secondaryHeading;
  }
  &__full_input {
    grid-column: 1 / -1;
  }
}