.pagination_footer {
    box-shadow: var(--common-box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    background-color: var(--white-color);
    border-radius: 0.75rem;
}
