@use "src/shared/styles/typography" as typo;
@use "src/shared/styles/mixins" as m;

.profile_main {
  min-height: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__back {
    @include m.circle(2.5rem);
    @include m.centerWithFlex;
    background-color: var(--white-color);
  }
  &__heading {
    color: var(--dark-bg-text-color);
    @include typo.primaryHeading;
  }
  &__id {
    color: var(--font-secondary-color);
    @include typo.tagText;
    text-transform: uppercase;
  }
  &__content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 20.5rem 1fr;
    grid-gap: 0.25rem;
  }
  &__type {
    color: var(--font-secondary-color);
    @include typo.tagText;
    padding: 0.375rem 0.625rem;
    border-radius: 0.375rem;
    text-transform: uppercase;
    border: 1px solid var(--stroke-on-white-color);
    background-color: var(--white-color);
  }
}