.send_change_password_request_button {
  width: calc(min(100%, 15rem));
  justify-content: center !important;
  transition: border-color 0.375s ease-in-out, color 0.375s ease-in-out, background-color 0.375s ease-in-out;
  &:hover {
    color: var(--primary-green-color);
    border-color: #BBBFBA;
  }
}