@use "src/shared/styles/typography" as typo;
@use "src/shared/styles/mixins" as m;

.paginator {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
    }
    &__pages {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    &__list {
        display: flex;
        align-items: stretch;
        gap: 0.75rem;
    }
}

.my_page_link {
    background: none;
    @include m.circle(2rem);
    @include m.centerWithFlex;
    @include typo.primaryTextAccent;
    color: var(--font-dark-color);
    &___active {
        background-color: var(--primary-green-color);
        cursor: initial;
        color: var(--white-color);
    }
}

.previous_page_link,
.next_page_link {
    cursor: pointer;
    &___disabled {
        cursor: initial;
        pointer-events: none;
        user-select: none;
    }
}

.previous_page_link {
    margin-right: auto;
}

.next_page_link {
    margin-left: auto;
}

.my_page_link_container {
    @include m.circle(2rem);
    @include m.centerWithFlex;
}
