@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/typography" as typo;

.notarized_doc_upload {
  border: 2px dashed var(--stroke-on-white-color);
  @include m.centerWithFlex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 15.5rem;
  width: calc(min(100%, 18rem));
  padding: 0.75rem 3rem;
  border-radius: 0.75rem;
  transition: border-color 0.37s ease-in-out;
  &:hover {
    border-color: var(--medium-dark-background-color);
  }
  &___loading {
    border: 1px solid var(--medium-dark-background-color);
  }
  &__heading {
    text-align: center;
    @include typo.quartenaryHeading;
  }
  &__types {
    text-align: center;
    @include typo.tertiaryText;
    color: var(--font-secondary-color);
  }
}