.last_transactions_list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        color: var(--primary-green-color);
        text-decoration: underline;
        & path {
            fill: var(--primary-green-color);
        }
    }
}
