@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/typography" as typo;

.primary_market_offer {
    padding: 1.25rem 1.5rem;
    background-color: var(--white-color);
    display: grid;
    grid-template-columns: minmax(17.5rem, 1fr) 4rem 4rem minmax(13rem, 1fr) 8.75rem;
    grid-gap: 1.5rem;
    &:not(:last-child) {
        border-bottom: 1px solid var(--stroke-on-white-color);
    }
    &__value {
        @include typo.primaryTextAccent;
    }
    &__progress {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
    }
    &__progress_values {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    &__rounds {
        position: absolute;
        @include m.centerLineWithPositioning;
        top: 0.125rem;
        color: var(--font-secondary-color);
        @include typo.tertiaryText;
    }
    &__link {
        align-self: center;
    }
}
