@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/typography" as typo;

.common_table_header {
    width: 100%;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--stroke-on-white-color);
    border-radius: 0.75rem 0.75rem 0 0;
    box-shadow: 0 1px 1px 0 #ffffff80 inset;
    padding-inline: 1.5rem;
    &__cell {
        display: flex;
        align-items: center;
        gap: 0.125rem;
        @include typo.tagText;
        color: var(--font-secondary-color);
        &:has(div) {
            cursor: pointer;
        }
        & > * {
            padding-block: 0.875rem;
            display: flex;
            align-items: center;
            gap: 0.125rem;
            text-transform: uppercase;
        }
        @supports not (selector(:has(*))) {
            cursor: pointer;
        }
    }
}
