.project_navigation {
  background-color: var(--white-color);
  width: 100%;
  border-radius: 0.75rem;
  padding-inline: 1rem;
  box-shadow: var(--common-box-shadow);
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
    align-items: stretch;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 2px;
      background-color: var(--primary-green-color);
      left: var(--navigation-offset-left);
      width: var(--navigation-tab-width);
      transform: translateX(0.5rem);
      transition: width 0.375s ease-in-out, left 0.375s ease-in-out;
    }
  }
}