@use "mixins" as m;
@use "variables" as v;

@mixin primaryText {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: v.$letter-spacing-1;
}

@mixin primaryTextAccent {
    @include primaryText;
    font-weight: 500;
}

@mixin secondaryText {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: calc(1rem - 1px);
    letter-spacing: v.$letter-spacing-1;
}

@mixin secondaryTextAccent {
    @include secondaryText;
    font-weight: 500;
}

@mixin regularBasisText {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: v.$letter-spacing-1;
}

@mixin regularBasisTextAccent {
    @include regularBasisText;
    font-weight: 500;
}

@mixin tertiaryText {
    font-weight: 400;
    font-size: calc(0.75rem + 1px);
    line-height: 120%;
    letter-spacing: v.$letter-spacing-1;
}

@mixin primaryHeading {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.25rem;
    letter-spacing: v.$letter-spacing-3;
}

@mixin secondaryHeading {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: v.$letter-spacing-4;
}

@mixin tertiaryHeading {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: v.$letter-spacing-5;
}

@mixin tagText {
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 0.75rem;
}