$white-color: #fff;
$black-color: #000;
$font-logo-color: #24252b;
$font-dark-color: #212226;
$dark-background-color: #313236;
$dark-bg-text-color: #363637;
$medium-dark-background-color: #404043;
$dark-background-color-active: #1f2023b2;
$font-secondary-gray-color: #828282;
$main-background-color: #4e4e4e;
$gray-background-color: #f5f5f5;
$gray-background-color-secondary: #f9f9f9;
$divider-color: #b6b6b7;
$primary-green-color: #05b768;
$primary-green-color-hover: #01d275;
$primary-green-color-active: #2b9159;
$chart-green-color: #28A566;
$chart-gray-color: #E4EAE2;
$stroke-on-white-color: #e0e0e0;
$font-medium-gray-color: #b2b2b2;
$font-green-secondary-color: #129f60;
$transparent-white-color-80: #ffffffcc;
$light-theme-gray-color: #f5f5f5;
$bg-green-color: #2b9159;
$red-error-color: #f47171;
$block-background-color: #ecefeb;
$small-block-background-color: #e8f2e3;
$color-error-border: #ffa39e;
$color-error-background: #fff1f0;
$color-error-base: #ff4d4f;
$success-color: #52c41a;
$success-color-bg: #f6ffef;
$success-color-border: #b7eb8f;
$color-warning-base: #FFBF42;
$color-warning-bg: #fffbe6;
$color-warning-border: #ffe58f;

$container-breakpoints: (
    "tablet": 48em,
    "mobile": 28.125em,
);

$letter-spacing-1: -0.01em;
$letter-spacing-2: -0.02em;
$letter-spacing-3: -0.03em;
$letter-spacing-4: -0.04em;
$letter-spacing-5: -0.05em;

$base-block-height: 32.5rem;

$base-block-padding: 8.75rem;
$base-block-padding-higher: 11.25rem;

$common-box-shadow: 0 2px 2px 0 #0000000a;
