@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/typography" as typo;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1;
    color: var(--font-dark-color);
    background-color: #eff1ee;
    font-weight: 400;
    @include m.useCoFoSansFont;
    @include typo.regularBasisText;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

image {
    max-width: 100%;
}
