@use "src/shared/styles/variables" as v;

:root {
    --common-box-shadow: #{v.$common-box-shadow};
    --letter-spacing: #{v.$letter-spacing};
    --letter-spacing-lesser: #{v.$letter-spacing-lesser};
    --letter-spacing-higher: #{v.$letter-spacing-higher};
}
