@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/typography" as typo;

.user_header {
    display: flex;
    align-items: stretch;
    gap: 1rem;
    &__actions,
    &__money,
    &__balance {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    &__balance {
        @include typo.secondaryTextAccent;
    }
    &__available {
        color: var(--font-secondary-color);
    }
    &__notifications {
        @include m.box(2.5rem);
        border-radius: 0.625rem;
        background-color: var(--block-background-color);
        @include m.centerWithFlex;
        transition: background-color 0.375s ease-in-out;
        &:hover {
            background-color: var(--font-secondary-color);
        }
    }
}
