.progress_bar {
    width: 100%;
    min-height: calc(0.125rem + 1px);
    background-color: #B2B2B266;
    overflow: hidden;
    position: relative;
    &__filled {
        width: 0;
        transition: width 0.5s ease-in-out;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: var(--primary-green-color);
    }
}
