@use "src/shared/styles/mixins" as m;

.traffic_light {
  @include m.circle(1.25rem);
  border: 1px solid var(--stroke-on-white-color);
  background-color: var(--gray-background-color-secondary);
  @include m.centerWithFlex;
  &__indicator {
    @include m.circle(0.5rem);
    &___green {
      background-color: var(--primary-green-color);
    }
    &___yellow {
      background-color: var(--warning-base-color);
    }
    &___red {
      background-color: var(--red-error-color);
    }
  }
}