@use "src/shared/styles/typography" as typo;

.search_input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &__input {
        &,
        &::placeholder {
            @include typo.regularBasisText;
            color: var(--font-secondary-color);
        }
    }
}
