@use "src/shared/styles/typography" as typo;
@use "src/shared/styles/mixins" as m;

.primary_market_card {
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--white-color);
  box-shadow: var(--common-box-shadow);
  &__image_container {
    position: relative;
    width: 100%;
    min-height: 13.125rem;
  }
  &__ltv {
    background-color: var(--white-color);
    @include m.circle(4rem);
    position: absolute;
    z-index: 5;
    top: 1.5rem;
    left: 1.5rem;
  }
  &__percent {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: var(--letter-spacing-1);
    text-align: center;
  }
  &__percent_text {
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 0.625rem;
    text-transform: uppercase;
    fill: var(--font-medium-gray-color);
  }
  &__content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__tags {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  &__tag {
    padding: 0.5rem;
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 0.625rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--font-secondary-color);
    border: 1px solid var(--stroke-on-white-color);
    background-color: var(--gray-background-color-secondary);
    border-radius: 0.625rem;
  }
  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__name {
    @include typo.tertiaryHeading;
    margin-bottom: 0.25rem;
  }
  &__id {
    @include typo.tertiaryText;
    color: var(--font-medium-gray-color);
  }
  &__parameters {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-gap: 0.5rem;
    margin-bottom: 1rem;
  }
  &__parameter {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  &__label {
    @include typo.tertiaryText;
    color: var(--font-medium-gray-color);
  }
  &__value {
    @include typo.secondaryTextAccent;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  &__progress {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    &_labels {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_label {
      @include typo.tertiaryText;
      color: var(--font-medium-gray-color);
    }
    &_values {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include typo.primaryTextAccent;
      position: relative;
    }
    &_rounds {
      position: absolute;
      @include m.centerLineWithPositioning;
    }
  }
}