@use "src/shared/styles/typography" as typo;
@use "src/shared/styles/mixins" as m;

.load_more_button {
    @include m.buttonToLink;
    @include typo.primaryTextAccent;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding-block: 0.625rem;
}
