.common_table_footer {
    padding: 1rem;
    width: 100%;
    border-top: 1px solid var(--primary-gray-color-border);
    background-color: var(--primary-gray-color);
    border-radius: 0 0 0.375rem 0.375rem;
}
