@use "src/shared/styles/typography" as typo;

.round_progress_bar {
    &__background,
    &__progress {
        fill: none;
    }
    &__background {
        stroke: #E4EAE2;
    }
    &__progress {
        stroke: var(--primary-green-color);
        stroke-linecap: round;
        stroke-linejoin: round;
    }
    &__text {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1rem;
        letter-spacing: var(--letter-spacing-1);
        fill: var(--font-dark-color);
    }
}
